<div class="containerLogin">
  <div class="container-img">
    <h1>Bienvenidos a <span>Unicomer</span></h1>
  </div>
  <div class="container-form">
    <form class="formLogin">
      <div class="typeDni">
        <p>Tipo de documento</p>
        <input type="text" name="tipoDni" />
      </div>

      <div class="dniNum">
        <p>Número de documento</p>
        <input type="text" maxlength="8" name="dniUser" />
      </div>

      <div class="clave">
        <p>Clave</p>
        <input type="password" name="password" placeholder="password" />
      </div>
      <div class="btn-login">
        <button (click)="onLogin($event)">Ingresar</button>
      </div>
      <div class="footer">
        <p>Teclado virtual</p>
        <span>¿No tienes cuenta? Registrate aquí</span>
      </div>
    </form>
  </div>
</div>
