/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Ubuntu';
    font-weight: 500;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}



